.header {
  z-index: 0;
  background-repeat: no-repeat;
  background-position: right -70px top -20px;
  @mixin light {
    background-color: var(--mantine-color-concrete-0);
    background-image: url('../../../public/logo/logo-back-light.svg');
  }
  @mixin dark {
    background-color: var(--mantine-color-charcoal-9);
    background-image: url('../../../public/logo/logo-back-dark.svg');
  }
}

.title {
  font-style: italic;
  @mixin dark {
    color: var(--mantine-color-flamingo-4);
  }
}
